@import "../../global.scss";

.intro{
    background-color: whitesmoke;
    display: flex;

    .left{
        flex: 0.5;
        background-color: $mainColor;
        overflow: hidden;

        .imgContainer{
            width: 700px;       /*box containing the image*/
            height: 700px;
            background-color: whitesmoke;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: left;
            float: right;  /*item placed from the right side of the divider column */

            img{
                width: 75%;     /*image size*/
            }
        }
    }
    .right{
        flex: 0.5;
        position: relative;

        .wrapper{
           width: 100%;
           height: 100%;
           padding-left: 50px;
           display: flex;
           flex-direction: column;
           justify-content: center;

           h1{
            font-size: 60px;
            margin: 10px 0;
           }
            
           h2{
               font-size: 35px;
           }
           h3{
               font-size: 30px;
               span{
                   font-size: inherit;
                   color: $tiniaryColor;
               }
               /*settings for the curser in the animation*/
               .ityped-cursor {
                font-size: 2.2rem;
                opacity: 1;
                -webkit-animation: blink 0.3s infinite;
                -moz-animation: blink 0.3s infinite;
                animation: blink 1s infinite;
                animation-direction: alternate;
            }
            /*settings for the curser in the animation*/
            @keyframes blink {
                100% {
                    opacity: 0;
                }
            }

           }
        }
        a{
            position: relative;
            bottom: 10px;
            left: 40%;
            img{
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink{
                100%{
                    opacity: 0;
                }
            }
        }
    }
}